/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/config/development/
application/config/testing/
application/config/production/

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

